
/* Set the parent container to display: flex */

body {
    background: black;
    background-image: url(/home/jay/repos/odin-recipes/images/fourseasons.png);
    background-size: 50px;
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: -30px;
    padding-bottom: -30px;
}


p {
    text-align: center;
    text-indent: -100px;
}


h2#span.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

/* .myDiv {
    box-shadow:rgba(-1px, -1px, 0, 0.97)
  }
*/
  

h1 {
    display: grid;
    grid-template-columns: auto;
    grid-template-columns: auto;
    place-items: center;
    font-family: 'Covered By Your Grace';
    font-size: 100px;
    font-weight: 100;
    color: white;
    text-shadow: 2px 2px 2px #d15a0b;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.97), rgba(0, 0, 0, 0));
    background-size: cover;
    margin: 0 0 0 0;
    padding: 5px;
    margin-bottom: -82px;
    overflow: hidden;
}

.season-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 12% 50% 38%;
    flex-direction: column;
    height: 100vh;
    padding-bottom: -100rem;
}



a {
    color:rgba(0, 0, 0, 0.85);
    text-decoration-line: none;
    text-shadow: 1px 1px 1px whitesmoke;
}

a:hover {
    text-shadow: 2px 1px 0px whitesmoke, 2px 1px 1px black;;
}

/* Set h2 headers to take up 25% of the screen width */
h2 {
    width: 25%;
    text-align: center;
    text-indent: 8px;
    margin-top: 19%;
    margin-bottom: -1px;
    margin-left: 0px;
    padding-right: 100px;
    padding-left: 0px;
    padding-bottom: 100px;
    padding-top: 1px;
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
    font-family: 'Courier New';
}


h2:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1;
    background-color: #87CEFA;
    border-color: #87CEFA;
}


h2:nth-of-type(1) {
    transition: all 0.3s ease-in-out;
  }
  
  h2:nth-of-type(1):hover {
    animation: bounce 1.5s ease-in-out infinite forwards 1.05s;
  }
  
  #winter-list {
    transition: all 0s ease-in-out;
  }

  
  h2:nth-of-type(1):hover ~ #winter-list {
    margin-bottom: -300px;
    background: #87CEFA;
    border-top: 2px double white; 
    box-shadow: 3px 1px 3px black, -3px 1px 3px black;
    transform: scale(100%);
    animation: move 2s ease-in, bounce 1.5s ease-in-out infinite forwards 1s;
    background: linear-gradient(to top, #000000, #00000000 2%, #537c9677 2.4%, #79b7ddbb 2.5%, #87CEFA 3.1%, #87CEFA);
  }

  

  h2:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1;
    background-color: #86f786;
    border-color: #86f786;
    transition: all 0.3s ease-in-out;
  }
  
  h2:nth-of-type(2):hover {
    animation: bounce 1.5s ease-in-out infinite forwards 1.05s;
  }
  
  #spring-list {
    transition: all 0s ease-in-out;
  }
  
  h2:nth-of-type(2):hover ~ #spring-list {
    margin-bottom: -300px;
    background: #86f786; /* limegreen */
    box-shadow: 3px 1px 3px black, -3px 1px 3px black;
    border-top: 2px double white;
    transform: scale(100%);
    animation: move 2s ease-in, bounce 1.5s ease-in-out infinite forwards 1s;
    background: linear-gradient(to top, #000000, #00000000 2%, #59965377 2.4%, #8add79bb 2.5%, #86f786 3.1%, #86f786)
  }

h2:nth-of-type(3) {
    grid-column: 3;
    grid-row: 1;
    background-color: #faa685;
    border-color: #faa685;
}

h2:nth-of-type(3):hover
{
    animation: bounce 1.5s ease-in-out infinite forwards 1.05s;
}

#autumn-list {
    transition: all 0s ease-in-out;
  }

h2:nth-of-type(3):hover ~ #autumn-list
{
    margin-bottom: -300px;
    background: #faa685;
    box-shadow: 3px 1px 3px black, -3px 1px 3px black;
    border-top: 2px double white; 
    transform: scale(100%);
    animation: move 2s ease-in, bounce 1.5s ease-in-out infinite forwards 1s;
    background: linear-gradient(to top, #000000, #00000000 2%, #7c624077 2.4%, #d8a974bb 2.5%, #faa685 3.1%, #faa685);
}

h2:nth-of-type(4) {
    grid-column: 4;
    grid-row: 1;
    background-color: #f5ec9b;
    border-color: #f5ec9b;
}

h2:nth-of-type(4):hover
{
    animation: bounce 1.5s ease-in-out infinite forwards 1.05s;
}

h2:nth-of-type(4):hover ~ #summer-list
{
    margin-bottom: -300px;
    background: #f5ec9b;
    box-shadow: 3px 1px 3px black, -3px 1px 3px black;
    border-top: 2px double white; 
    transform: scale(100%);
    animation: move 2s ease-in, bounce 1.5s ease-in-out infinite forwards 1s;
    background: linear-gradient(to top, #000000, #00000000 2%, #7b7c4077 2.4%, #ced874bb 2.5%, #f5ec9b 3.1%, #f5ec9b);
}

@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes move {
    0% {
      margin-bottom: -1px;
    }
    50% {
      margin-bottom: -300px;
      transition: margin-bottom 1s ease-out;
    }
    100% {
      margin-bottom: -300px;
    }
  }


/* Align unordered list to the left of the 25% section */



#winter-list {
    grid-column: 1;
    grid-row: 2;
    background: linear-gradient(to top, #000000, #00000000 1%, #537c9677 3%, #79b7ddbb 10%, #87CEFA 30%, #87CEFA);
    box-shadow: -1px 1px 3px black;
}

#spring-list {
    grid-column: 2;
    grid-row: 2;
    background: linear-gradient(to top, #000000, #00000000 1%, #59965377 5%, #8add79bb 10%, #86f786 30%, #86f786);
    box-shadow: -1px 1px 3px black;
}

#autumn-list {
    grid-column: 3;
    grid-row: 2;
    background: linear-gradient(to top, #000000, #00000000 1%, #7c624077 5%, #d8a974bb 10%, #faa685 30%, #faa685);
    box-shadow: -1px 1px 3px black;
}

#summer-list {
    grid-column: 4;
    grid-row: 2;
    background: linear-gradient(to top, #000000, #00000000 1%, #7b7c4077 5%, #ced874bb 10%, #f5ec9b 30%, #f5ec9b);
    box-shadow: -1px 1px 3px black;
}
ul {
    align-self: left;
    margin-top: 2px;
    margin-bottom: -10px;
    padding-left: 80px;
    padding-bottom: 10px;
    list-style: none;
    line-height: 33px;
    font-family: 'Courier New';
    list-style-type: disc;
}